<?xml version="1.0"?>
<config>
    <modules>
        <Emico_TweakwiseExport>
            <version>2.2.1</version>
        </Emico_TweakwiseExport>
    </modules>
    <global>
        <blocks>
            <emico_tweakwiseexport>
                <class>Emico_TweakwiseExport_Block</class>
            </emico_tweakwiseexport>
        </blocks>
        <models>
            <emico_tweakwiseexport>
                <class>Emico_TweakwiseExport_Model</class>
            </emico_tweakwiseexport>
        </models>
        <helpers>
            <emico_tweakwiseexport>
                <class>Emico_TweakwiseExport_Helper</class>
            </emico_tweakwiseexport>
        </helpers>
        <events>
            <emico_tweakwiseexport_before_copy_feed>
                <observers>
                    <emico_tweakwiseexport>
                        <class>emico_tweakwiseexport/observer</class>
                        <method>emicoTweakwiseValidateExport</method>
                    </emico_tweakwiseexport>
                </observers>
            </emico_tweakwiseexport_before_copy_feed>
            <emico_tweakwiseexport_after_export>
                <observers>
                    <emico_tweakwiseexport>
                        <class>emico_tweakwiseexport/observer_urlMapping</class>
                        <method>writeAttributeSlugs</method>
                    </emico_tweakwiseexport>
                </observers>
            </emico_tweakwiseexport_after_export>
            <emico_tweakwiseexport_product_export_attributes_after>
                <observers>
                    <emico_tweakwiseexport>
                        <class>emico_tweakwiseexport/observer</class>
                        <method>addNotExportedAttributes</method>
                    </emico_tweakwiseexport>
                    <emico_tweakwiseexport_urlmapping>
                        <class>emico_tweakwiseexport/observer_urlMapping</class>
                        <method>addProductAttributes</method>
                    </emico_tweakwiseexport_urlmapping>
                </observers>
            </emico_tweakwiseexport_product_export_attributes_after>
        </events>
    </global>
    <frontend>
        <routers>
            <emico_tweakwiseexport>
                <use>standard</use>
                <args>
                    <module>Emico_TweakwiseExport</module>
                    <frontName>tweakwiseexport</frontName>
                </args>
            </emico_tweakwiseexport>
        </routers>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <emico_tweakwiseexport>
                    <file>emico_tweakwiseexport.xml</file>
                </emico_tweakwiseexport>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Emico_TweakwiseExport after="Mage_Adminhtml">Emico_TweakwiseExport_Adminhtml</Emico_TweakwiseExport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <emico_tweakwise>
            <export>
                <enabled>0</enabled>
                <validate_export>0</validate_export>
                <schedule>0 */2 * * *</schedule>
                <realtime>0</realtime>
                <trigger_import_after_export>0</trigger_import_after_export>
                <server_api_url>http://navigator-api.tweakwise.com/task/trigger/</server_api_url>
                <stock_combination>0</stock_combination>
                <stock_percentage>0</stock_percentage>
                <product_selection_filter>4</product_selection_filter>
                <exclude_child_attributes>url_key,small_image,small_image_label,thumbnail_label,status,tax_class_id</exclude_child_attributes>
                <oos_children>0</oos_children>
                <export_non_flat_attributes>0</export_non_flat_attributes>
            </export>
        </emico_tweakwise>
    </default>
    <crontab>
        <jobs>
            <emico_tweakwiseexport>
                <schedule>
                    <config_path>emico_tweakwise/export/schedule</config_path>
                </schedule>
                <run>
                    <model>emico_tweakwiseexport/observer::generateExport</model>
                </run>
            </emico_tweakwiseexport>
            <emico_tweakwiseexport_manual_export>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>emico_tweakwiseexport/observer::manualExport</model>
                </run>
            </emico_tweakwiseexport_manual_export>
        </jobs>
    </crontab>
</config>
